### 03-1. 나만의 데이터 만들기 ###

1. 시리즈 만들기

In [1]:
import pandas as pd
s = pd.Series(['banana', 42])
print(s)

0    banana
1        42
dtype: object

In [3]:
# 시리즈를생성할 때 문자열을 인덱스로 지정할 수도 있다.
s = pd.Series(['Wes McKinney', 'Creator of Pandas'])
print(s)

s = pd.Series(['Wes McKinney', 'Creator of Pandas'], index=['Person', 'Who'])
print(s)

0         Wes McKinney
1    Creator of Pandas
dtype: object
Person         Wes McKinney
Who       Creator of Pandas
dtype: object

2. 데이터프레임 만들기

In [4]:
scientists = pd.DataFrame({
    'Name' : ['Rosaline Franklin', 'Wiliam Gosset']
    , 'Occupation' : ['Chemist', 'Statisticaian']
    , 'Born' : ['1920-07-25', '1876-06-13']
    , 'Died' : ['1958-04-16', '1937-10-16']
    , 'Age' : [37, 61]
})
print(scientists)

                Name     Occupation        Born        Died  Age
0  Rosaline Franklin        Chemist  1920-07-25  1958-04-16   37
1      Wiliam Gosset  Statisticaian  1876-06-13  1937-10-16   61

In [5]:
scientists = pd.DataFrame(
    data = {'Occupation' : ['Chemist', 'Statisticaian']
    , 'Born' : ['1920-07-25', '1876-06-13']
    , 'Died' : ['1958-04-16', '1937-10-16']
    , 'Age' : [37, 61]}
, index = ['Rosaline Fraklin', 'William Gosset']
, columns = ['Occupation', 'Born', 'Age', 'Died']
)

print(scientists)

                     Occupation        Born  Age        Died
Rosaline Fraklin        Chemist  1920-07-25   37  1958-04-16
William Gosset    Statisticaian  1876-06-13   61  1937-10-16

딕셔너리는 데이터의 순서를 보장하지 않는다.  
순서가 보장된 딕셔너리를 전달하려면 OrderedDict 클래스를 사용해야 한다.

In [11]:
from collections import OrderedDict

scientists = pd.DataFrame(OrderedDict([
    ('Name', ['Rosaline Fraklin', 'Willim Gosset']),
    ('Occupation', ['Chemist', 'Statistician']),
    ('Born' , ['1920-07-25', '1876-06-13']),
    ('Age', [37, 61])
]))

print(scientists)

               Name    Occupation        Born  Age
0  Rosaline Fraklin       Chemist  1920-07-25   37
1     Willim Gosset  Statistician  1876-06-13   61

### 03-2. 시리즈 다루기 ###

데이터프레임에서 시리즈 선택하기

In [15]:
scientist = pd.DataFrame(
    data = {'Occupation' : ['Chemist', 'Statistician']
        , 'Born' : ['1920-07-25', '1876-06-13']
        , 'Died' : ['1958-04-16', '1937-10-16']
        , 'Age' : [37, 61]},
    index=['Rosaline Fraklin', 'William Gosset'],
    columns = ['Occupation', 'Born', 'Died', 'Age'])

first_row = scientist.loc['William Gosset']
print(type(first_row))
print(first_row)

<class 'pandas.core.series.Series'>
Occupation    Statistician
Born            1876-06-13
Died            1937-10-16
Age                     61
Name: William Gosset, dtype: object

In [16]:
# index 속성 : 시리즈의 인덱스를 확인 할 수 있다.
print(first_row.index)

Index(['Occupation', 'Born', 'Died', 'Age'], dtype='object')

In [17]:
# values 속성 : 시리즈의 데이터가 저장되어 있다.
print(first_row.values)

['Statistician' '1876-06-13' '1937-10-16' 61]

In [18]:
# keys 메서드 : index 속성과 같은 역할을 한다.
print(first_row.keys())

Index(['Occupation', 'Born', 'Died', 'Age'], dtype='object')

In [19]:
# scientitst의 Age 열 추출
ages = scientists['Age']
print(ages)

0    37
1    61
Name: Age, dtype: int64

### 03-3 시리즈 다루기###

추출한 데이터의 정확한 인덱스를 모르는 경우에 불린 추출을 이용한다.  
불린 추출은 특정 조건을 만족하는 값만 추출할 수 있다.

In [20]:
scientists = pd.read_csv('../data/scientists.csv')

In [21]:
ages = scientists['Age']
print(ages.max())

90

In [22]:
# 평균 나이보다 나이가 많은 사람의 데이터를 추출
print(ages[ages > ages.mean()])

1    61
2    90
3    66
7    77
Name: Age, dtype: int64

In [24]:
# 아래 조건식을 만족(True)하는 값만 출력
print(ages > ages.mean())

0    False
1     True
2     True
3     True
4    False
5    False
6    False
7     True
Name: Age, dtype: bool

**브로드캐스팅** (Broadcasting) : 데이터프레임에 있는 모든 데이터에 대해 한번에 연산하는 것  
시리즈처럼 여러개의 값을 가진 데이터를 **벡터**라하고, 단순 크기를 나타내는 데이터를 **스칼라**라고 한다.

In [25]:
# sort_index 메서드 사용
rev_ages = ages.sort_index(ascending=False)
print(rev_ages)

7    77
6    41
5    45
4    56
3    66
2    90
1    61
0    37
Name: Age, dtype: int64

정렬한다고해서 인덱스 값이 변하는 것은 아님  
벡터와 벡터의 연산은 일치하는 인덱스의 값끼리 수행됨

### 03-4. 데이터프레임 다루기 ###

In [27]:
# 불린 추출하기
print(scientists[scientists['Age'] > scientists['Age'].mean()])

                   Name        Born        Died  Age     Occupation
1        William Gosset  1876-06-13  1937-10-16   61   Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90          Nurse
3           Marie Curie  1867-11-07  1934-07-04   66        Chemist
7          Johann Gauss  1777-04-30  1855-02-23   77  Mathematician

### 3-5. 시리즈와 데이터프레임의 데이터 처리하기 ###

In [33]:
# 열의 자료형 바꾸기 ( 문자열 -> 날짜타입 )
born_datetime = pd.to_datetime(scientists['Born'], format='%Y-%m-%d')
print(born_datetime)

died_datetime = pd.to_datetime(scientists['Died'], format='%Y-%m-%d')
print(died_datetime)

0   1920-07-25
1   1876-06-13
2   1820-05-12
3   1867-11-07
4   1907-05-27
5   1813-03-15
6   1912-06-23
7   1777-04-30
Name: Born, dtype: datetime64[ns]
0   1958-04-16
1   1937-10-16
2   1910-08-13
3   1934-07-04
4   1964-04-14
5   1858-06-16
6   1954-06-07
7   1855-02-23
Name: Died, dtype: datetime64[ns]

In [34]:
# 변환한 열 데이터프레임에 추가하기
scientists['born_dt'], scientists['died_dt'] = (born_datetime, died_datetime)
print(scientists.head())

                   Name        Born        Died  Age    Occupation    born_dt  \
0     Rosaline Franklin  1920-07-25  1958-04-16   37       Chemist 1920-07-25
1        William Gosset  1876-06-13  1937-10-16   61  Statistician 1876-06-13
2  Florence Nightingale  1820-05-12  1910-08-13   90         Nurse 1820-05-12
3           Marie Curie  1867-11-07  1934-07-04   66       Chemist 1867-11-07
4         Rachel Carson  1907-05-27  1964-04-14   56     Biologist 1907-05-27

     died_dt
0 1958-04-16
1 1937-10-16
2 1910-08-13
3 1934-07-04
4 1964-04-14

In [35]:
# 생존기간 ( died_dt - born_dt )
scientists['age_days_dt'] = (scientists['died_dt'] - scientists['born_dt'])
print(scientists)

                   Name        Born        Died  Age          Occupation  \
0     Rosaline Franklin  1920-07-25  1958-04-16   37             Chemist
1        William Gosset  1876-06-13  1937-10-16   61        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90               Nurse
3           Marie Curie  1867-11-07  1934-07-04   66             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   56           Biologist
5             John Snow  1813-03-15  1858-06-16   45           Physician
6           Alan Turing  1912-06-23  1954-06-07   41  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   77       Mathematician

     born_dt    died_dt age_days_dt
0 1920-07-25 1958-04-16  13779 days
1 1876-06-13 1937-10-16  22404 days
2 1820-05-12 1910-08-13  32964 days
3 1867-11-07 1934-07-04  24345 days
4 1907-05-27 1964-04-14  20777 days
5 1813-03-15 1858-06-16  16529 days
6 1912-06-23 1954-06-07  15324 days
7 1777-04-30 1855-02-23  28422 days

In [36]:
# 데이터 섞기
import random

random.seed(42)
random.shuffle(scientists['Age'])
print(scientists['Age'])

0    66
1    56
2    41
3    77
4    90
5    45
6    37
7    61
Name: Age, dtype: int64

C:\Users\zoe\anaconda3\envs\deep\lib\random.py:278: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x[i], x[j] = x[j], x[i]

In [37]:
# 데이터프레임의 열 삭제하기
print(scientists.columns)

Index(['Name', 'Born', 'Died', 'Age', 'Occupation', 'born_dt', 'died_dt',
       'age_days_dt'],
      dtype='object')

In [39]:
scientists_dropped = scientists.drop(['Age'], axis=1)
print(scientists_dropped.columns)

Index(['Name', 'Born', 'Died', 'Occupation', 'born_dt', 'died_dt',
       'age_days_dt'],
      dtype='object')

### 03-6. 데이터 저장하고 불러오기 ###

1. 피클로 저장하기  
피클은 데이터를 바이너리 형태로 직렬화한 오브젝트를 저장하는 방법이다. 피클로 저장하면 스프레드시트보다 더 작은 용량으로 데이터를 저장할 수 있어 매우 편리하다.

In [41]:
names = scientists['Name']
names.to_pickle('../zoe_output/scientists_names_series.pickle')

scientists.to_pickle('../zoe_output/scientists_df.pickle')

In [45]:
scientists_names_from_pickle = pd.read_pickle('../zoe_output/scientists_names_series.pickle')
print(scientists_names_from_pickle)

scientists_from_pickle = pd.read_pickle('../zoe_output/scientists_df.pickle')
print(scientists_from_pickle)

0       Rosaline Franklin
1          William Gosset
2    Florence Nightingale
3             Marie Curie
4           Rachel Carson
5               John Snow
6             Alan Turing
7            Johann Gauss
Name: Name, dtype: object
                   Name        Born        Died  Age          Occupation  \
0     Rosaline Franklin  1920-07-25  1958-04-16   66             Chemist
1        William Gosset  1876-06-13  1937-10-16   56        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   41               Nurse
3           Marie Curie  1867-11-07  1934-07-04   77             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   90           Biologist
5             John Snow  1813-03-15  1858-06-16   45           Physician
6           Alan Turing  1912-06-23  1954-06-07   37  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   61       Mathematician

     born_dt    died_dt age_days_dt
0 1920-07-25 1958-04-16  13779 days
1 1876-06-13 1937-10-16  22404 days
2 1820-05-12 1910-08-13  32964 days
3 1867-11-07 1934-07-04  24345 days
4 1907-05-27 1964-04-14  20777 days
5 1813-03-15 1858-06-16  16529 days
6 1912-06-23 1954-06-07  15324 days
7 1777-04-30 1855-02-23  28422 days